{% extends 'base.html.twig' %}

{% block title %}Créer une tâche{% endblock %}

{% block body %}
    <h1>Créer une tâche</h1>

    {{ form_start(taskForm) }}
        {{ form_row(taskForm.title) }}
        {{ form_row(taskForm.description) }}
        {{ form_row(taskForm.status) }}

        <button class="btn btn-primary">Créer</button>
    {{ form_end(taskForm) }}
{% endblock %}
